
.header {
    width: 100%;
    border: 1px solid black;
    background-color: #CDCDCD;
    padding-left: 10px;

}

.header-link {
    width: 100%;
    border: 1px solid black;
    background-color: whitesmoke;
    text-align: center;
    align-content: center;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

.header-link, header {
    height: 10%;
}

.left-content {
    width: 25%;
    float: left;
}

.left-content iframe {
    width: 100%;
    height: auto;
    background-color: white;
    margin-right: 5px;
}

.right-content {
    width: 75%;
    background-color: white;
    float: left;
}

.left-content, .right-content {
    height: 70%;

}

.right-content iframe {
    width: 100%;
    height: 500px;
}

.right-content p {
    width: 90%;
    padding-left: 10px;
    text-align: justify;
}

.footer {
    width: 100%;
    height: 10%;
    margin-left: 0;
    margin: 0;
    background-color: #CDCDCD;
    color: black;
    text-align: center;

}

.body {
    height: 60%;
    display: inline-block;
    margin-top: 10px;
}

.side-bar1:hover{
    background-color: blue;
}
