pre {
    border: 1px solid black;
    height: 500px;
    width: 500px;
}

p.vn {
    font-size: 50px;
    padding: 10px;
}

p.body1 {
    text-indent: 80px;
    text-align: justify;
    margin-top: -40px;
    padding: 20px;
}

p.body2, p.body3{
    text-indent: 80px;
    text-align: justify;
    margin-top: -70px;
    padding: 20px;
}

p.box1{
    padding:10px;
}

body {
    font-family: "Times New Roman", Arial;
    font-size: 30px;
}

sup {
    font-size: 18px;
    vertical-align: super;
    color: blueviolet;
}

sup.class {
    font-size: 18px;
    vertical-align: super;
    color: black;
}